@font-face { font-family: roboto-regular; 
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet'); 
  }
/* *{
    border: 2px dashed red;
} */
body{
    min-width: 600px;
    display: grid;
    /* grid-template-rows: auto; */
    /* grid-template-columns: 2; */
    justify-items: center;
    align-items: center;
    margin: 0;
    font-family: 'canada-type-gibson', sans-serif;
    text-align: center;
    color: black;
}

header{
    border-bottom: 1px solid lightgrey;
    width: 100vw;
    padding: 0;
    /* background-color: black;
    color: white; */
}

nav{

    width: 100%;
}

.nav-links{
    display: flex;
    list-style: none;   
    justify-content: space-between;
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-weight: 700;

    padding: 0 38vw;

}

.nav-links a{
    text-decoration: none;
    /* color: white; */
    color: black;
}

.redOverlay{
    color: #F43A33;
}


h1{
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

h2{
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    background-color: white;
    color: black;
}

h3{
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    background-color: white;
    color: black;
    width: 0 auto;
}

/*SEARCH BAR*/

.search-form {
    position: relative;
    margin: 40px;
}

.search-bar{
    position: static;
    text-indent: 2em;
    width: 220px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: #E8F0FE;
}

.btnSearch{
    background-color: red;
}

.search-icon{
    position: absolute;
    top: 20%;
    left: 40%;
    height: 14px;
    width: 14px;
    transform: translateX(500);
}

#findAnArtist{
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-weight: 500;
}

/*QUICKVIEW*/


.quickView{
    display: grid;
    /* justify-content: contain; */
    /* grid-template-rows: auto; */
    grid-template-columns: 1fr 1fr;
    /* grid-template-areas:
        "boxOne boxTwo"; */
    width: 90vw;
    /* height: auto; */
    min-height: 380px;

    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #d3d3d3;
    border-radius: 10px 10px 0 0;
    /* padding: 20px; */
    margin: 0 auto;
}

.boxOne{
    border-right: 1px solid #d3d3d3;
    visibility: hidden;
    /* position: relative; */
    /* grid-area: boxOne; */
    /* width: 385px; */
    min-height: 382px;
    /* margin-right: 10px; */
    padding: 25px;
    /* grid-template-areas:
        "rowOne rowTwo"; */
}

.boxTwo{
    padding: 20px;
    padding-left: 10px;
    /* position: relative; */
    /* grid-area: boxTwo; */
    /* width: 385px; */
    min-height: 382px;
    /* margin-left: 10px; */
    /* grid-template-areas:
        "rowThree rowFour"; */
}



.footerSocial{
/*     
    border-style: solid;
    border-width: 1px;
    border-color: #d3d3d3; */
    border-radius: 0 0 10px 10px;
    padding: 5px 20px;
    background-color: black;
    color: white;
    margin-bottom: 5vh;

}
.footerSocial p {
    text-align: left;
}


.socialMedia{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}


.rowOne{
    grid-area: rowOne;
    display: grid;
    grid-template-columns: 2;
    grid-template-areas:
        "quadrantA quadrantb";
    height: 185px;

}

.quadrantA{
    display: grid;
    align-items: left;
    text-align: left;
    width: 170px;
    height: 170px;
    border-style: solid;
    border-width: 1px;
    border-color:#d3d3d3;
}

#artistPhoto{
    margin-left: 0;
    display: block;
    position: absolute;
    width: 170px;
    height: 170px;
}

.quadrantB{
    margin: 0; 
    padding: 0;
    display: grid;
    text-align: left;
    align-items: left;
    margin-left: 0;
    margin-right: auto;
    width: 190px;
    height: 170px;
}

h3{
    margin: 0; 
    padding: 0;
    width: auto;
    height: 25px;
    text-align: left;
}

#artistName{
    align-items: left;
    margin: 0; 
    padding: 0;
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.artistDetails{
    margin: 0; 
    padding: 0;
    list-style-type: none;
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    text-justify: inter-word;
    justify-content: contain;
    font-size: 12px;
    line-height: 2;
}

.adList{
    /* artist details list */
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-weight: 200;
}

.rowTwo{
    grid-area: rowTwo;
    /* height: 180px; */
    margin: 0px;

}

#bioText{
    margin: 0; 
    padding: 0;
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 300;
    line-height: 2;
    text-align: justify;
    text-justify: inter-word;
    justify-content: contain;
    margin-right: 10px;
    /* text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    max-height: 175px; */

}

.discogTitle{
    margin-top: 0;
    margin-bottom: 5px;
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 450;
    line-height: 2;
    text-align: left;
    /* height: 12px; */
}

/* .coverDiv{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

} */

.pic{
    border-style: solid;
    border-width: 1px;
    border-color: #d3d3d3;
    border-radius: 3px;
    height: 100px;
    
    width: 100px;
    height: 100px;

    margin: 3px;
}


.singleAlbumDisplay{
    /* visibility: hidden; */
    color: black;

    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 600px;

    /* min-height: 380px; */

}

.albumTitle{
    color: black;
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 450;

}

.topPhoto{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #d3d3d3;
    border-radius: 5px;


    width: 150px;
    height: 150px;

}

#summary{   
    margin: 0; 
    padding: 0;
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 300;
    line-height: 2;
    text-align: justify;
    text-justify: inter-word;
    justify-content: contain;
    margin-right: 10px;
}











