/* artistSearchStyleSheet */

body{
    display: grid;
    min-width: 600px;
    margin: 0;
    justify-items: center;
    align-items: center;
    font-family: 'canada-type-gibson', sans-serif;
    text-align: center;
    color: black;
}

header{
    border-bottom: 1px solid lightgrey;
    width: 100vw;
    padding: 0;
}

nav{
    width: 100%;
}

.nav-links{
    display: flex;
    list-style: none;   
    justify-content: space-between;
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-weight: 700;
    padding: 0 38vw;
}

.nav-links a{
    text-decoration: none;
    color: black;
}

.redOverlay{
    color: #F43A33;
}

h1{
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    margin: 2vh;
}

h2{
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: center;
    background-color: white;
    color: black;
}

h3{
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    background-color: white;
    color: black;
    width: 0 auto;
}

.search-form {
    position: relative;
    margin: 40px;
}

.search-bar{
    position: static;
    text-indent: 2em;
    width: 220px;
    height: 25px;
    border: none;
    outline: none;
    border-radius: 25px;
    background-color: #E8F0FE;
}

.btnSearch{
    background-color: red;
}

#findAnArtist{
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    width: 100%;
}

.quickView{
    visibility: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90vw;
    min-height: 380px;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    border-color: #d3d3d3;
    border-radius: 10px 10px 0 0;
    margin: 0 auto;
    max-width: 900px;
}

.boxOne{
    border-right: 1px solid #d3d3d3;
    visibility: hidden;
    min-height: 382px;
    padding: 25px;
}

.boxTwo{
    padding: 20px;
    padding-left: 10px;
    min-height: 382px;
}

.rowOne{
    grid-area: rowOne;
    display: grid;
    grid-template-columns: 2;
    grid-template-areas:
        "quadrantA quadrantb";
    height: 185px;
}

.quadrantA{
    display: grid;
    align-items: left;
    text-align: left;
    width: 170px;
    height: 170px;
    border-style: solid;
    border-width: 1px;
    border-color:#d3d3d3;
}

#artistPhoto{
    margin-left: 0;
    display: block;
    position: absolute;
    width: 170px;
    height: 170px;
}

.quadrantB{
    margin: 0; 
    padding: 0;
    display: grid;
    text-align: left;
    align-items: left;
    margin-left: 0;
    margin-right: auto;
    width: 190px;
    height: 170px;
}

h3{
    margin: 0; 
    padding: 0;
    width: auto;
    height: 25px;
    text-align: left;
}

#artistName{
    align-items: left;
    margin: 0; 
    padding: 0;
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-weight: 500;
}

.artistDetails{
    margin: 0; 
    padding: 0;
    list-style-type: none;
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-weight: 500;
    text-align: left;
    text-justify: inter-word;
    justify-content: contain;
    font-size: 12px;
    line-height: 2;
}

.adList{
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-weight: 200;
}

.rowTwo{
    grid-area: rowTwo;
    margin: 0px;
}

#bioText{
    margin: 0; 
    padding: 0;
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 300;
    line-height: 2;
    text-align: justify;
    text-justify: inter-word;
    justify-content: contain;
    margin-right: 10px;
}

.discogTitle{
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: 9px;
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-size: 14.5px;
    font-weight: 450;
    line-height: 2;
    text-align: left;
}

.coverDiv{
    margin-top: 5px;
    padding-left: 6px;
}

.pic{
    border-style: solid;
    border-width: 1px;
    border-color: #d3d3d3;
    border-radius: 3px;
    width: 130px;
    height: 130px;
    margin: 3px;
    margin-top: 0px;
}


.singleAlbumDisplay{
    color: black;
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 0px;
    height: auto;
}

.aGroup{
    padding-left: 10px;
    align-self: start;
    justify-content: left;
    text-align: left;
    align-content: left;
    align-items: left;
    align-self: left;
}

#backButton{
    cursor: pointer;
    align-self: start;
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 450;
}

#albumTitle{
    color: black;
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-size: 20px;
    font-weight: 450;
    margin-top: 5px;
    margin-bottom: 20px;
}

#topPhoto{
    border-style: solid;
    border-width: 1px;
    border-color: #d3d3d3;
    border-radius: 5px;
    width: 96.5%;
    height: 96.5%;
    margin-left: 10px;
}

#summary{   
    margin: 0; 
    padding: 10px;
    padding-top: 0px;
    padding-right: 2px;
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 300;
    line-height: 2;
    text-align: justify;
    text-justify: inter-word;
    justify-content: contain;
}


.theTracks{
    padding-left: 25px;
}

.trackGroup{
    color: black;
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    padding-left: 0;
    margin: 3px;
}

.footerSocial{
    visibility: hidden;
    border-radius: 0 0 10px 10px;
    padding: 5px 20px;
    background-color: black;
    color: white;
    margin-bottom: 5vh;
}

.footerSocial p {
    text-align: left;
}

#externalLink{
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-size: 13px;
    font-weight: 450;
    margin-top: 5px;
    margin-bottom: 8px; 
}

.socialMedia{
    font-family: 'canada-type-gibson', sans-serif;
    font-style: normal;
    font-size: 12px;
    font-weight: 450;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0;
    padding: 0;
}













